{% extends "layout.html" %}

	{% block head %} <title> About - Googol </title> {% endblock %}

	{% block body %}
		<h1>What is Googol?</h1>
		<header> Aside from being <i>The <b>"Greatest"</b> Search Engine since 8991, &trade; </i></header>

        <p>Googol is 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000. <br> It is quite <b>Great.</b></p>
        <p>Googol is also a company owned by Alphabet Soup Inc. <b>Visit their website at <a href = "XYZ.html">xyz.abc.</a></b></p>
        <footer>(Disclaimer: Not actually an outside link)</footer>

	{% endblock %} <!--Body-->









