{% extends "layout.html" %}

	{% block style %} <link href="../static/AlphabetStyles.css" rel="stylesheet"/> {% endblock %}

	{% block head %} <title> Alphabet Soup </title> {% endblock %}

    {% block logo %} <br><br><br><br><img alt = "Alphabet Soup Logo" src = "../static/AlphabetSoup.png"> {% endblock %}
	{% block body %}
    <br><br>
    <h1><i>Investing in us is <b>Souper</b> cool!&trade;</i></h1>
    <br><br>
	<h2><a href = "index.html"> Return to Googol </a></h2>
	<br><br>
	{% endblock %} <!--Body-->
	{% block copyright %} <footer>&copy; Alphabet Soup Inc, 8102.</footer> {% endblock %}